doctype 5
html(lang="en")
   head
      title= title
      link(href='http://fonts.googleapis.com/css?family=Titillium+Web', rel='stylesheet', type='text/css')
      != css("main")
      != css("highlight")
         
   body
      #header
         .content
            h1.header
               img(src="/images/nodelabs.png", height="80", width="113")
            ul.contact
               li
                  a.twitter(href="http://twitter.com/nodelabs")
                        img(src="/images/twitter-icon.png", width="45", height="45")
               li
                  a.email(href="/contact")
                     img(src="/images/email-icon.png", width="45", height="45")

      #content.content
         block content
         .clear

      #footer
         © 2013 Node Labs
